<!--
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/campgrounds">CampMonk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/campgrounds">Campgrounds</a>
                <a class="nav-link" href="/campgrounds/new">New Campground</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else {%>
                <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
        <li><a class="navbar-brand" href="/campgrounds">CampMonk</a></li>
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/campgrounds">Campgrounds</a></li>
        <li><a class="nav-link" href="/campgrounds/new">New Campground</a></li>
    </ul>
    <ul class="navbar-nav mr">
        <% if(!currentUser) {%>
            <li class="nav-item active ">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Sign Up</a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <span class="navbar-text" style="color: white">
                    Signed in as <%= currentUser.username%>
                </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</span></a>
            </li>
        <% } %>
    </ul>
</div>
</div>
</nav>